<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit <%= animal.name %>'s Info</title>
</head>
<body>
    <form action="/mongooses/<%= animal._id %>" method="POST">
        Name: <input type="text" name="name" value="<%= animal.name %>">
        Stripes: <input type="number" name="stripes" value="<%= animal.stripes %>">
        Description: <textarea name="description"><%= animal.description %></textarea>
        <input type="submit" value="EDIT">
    </form>
</body>
</html>